
<nav>
    <ul>
        <li>
            <NavLink href="/">Home</NavLink>
        </li>
        <li>
            <NavLink href="/watchlist">Watchlist</NavLink>
        </li>
    </ul>
</nav>

@code {
    
}